/*
    BASE CSS
*/


/* solution to image fit background */
body{
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: serif;
    color: wheat;
}
/**
#article {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
*/